.firstBlogInput {
    border: 1.5px solid rgb(226, 225, 225);
    min-width: 10px;
}

.firstBlogInput::placeholder {
  opacity: 1; /* убирает прозрачность */
  color: inherit; /* делает цвет как у обычного текста */
  font-size: 18px;
  color: rgb(184, 184, 184);
}

@media (max-width: 420px) {
  .firstBlogInput::placeholder {
    font-size: 16px;
  }
}

@media (max-width: 360px) {
  .firstBlogInput::placeholder {
    font-size: 14px;
  }
}

.post-modal {
  position: fixed;
  background-color: white;
  border: 1px solid #e5e7eb;
  border-radius: .5rem;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  box-sizing: border-box;
  --webkit-box-sizing: border-box;
  gap: 16px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
  visibility: hidden;
  width: 90%;
  max-width: 512px;
  max-height: 95%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  z-index: 103;
  overflow-y: auto;
  scrollbar-width: none;
}

.value-modal {
  position: fixed;
  background-color: white;
  border: 1px solid #e5e7eb;
  border-radius: .5rem;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  --webkit-box-sizing: border-box;
  gap: 10px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  visibility: hidden;
  width: auto;
  min-width: 200px;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -70%);
  z-index: 104000000;
  font-size: 16px;
  color: #fc6736;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  text-align: center;
}

.value-modal.show-value-modal {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transform: translate(-50%, -50%);
}

.post-modal.active {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transform: translate(-50%, -50%);
}

.post-mdl-hdr {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.post-mdl-hdr h2 {
  font-size: 22px;
  font-weight: 700;
  color: #393333;
}

.close-post-mdl-btn {
  cursor: pointer;
  background-color: #f6f9ff;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

#msgInput {
  position: relative;
  background-image: none;
  border: none;
  background-color: white;
  border-radius: 4px;
  box-sizing: border-box;
  transition: box-shadow 0.2s cubic-bezier(0.645,0.045,0.355,1) !important;
  color: #606266;
  display: block;
  line-height: 1.5;
  padding: 5px 11px;
  resize: vertical;
  width: 100%;
  box-shadow: 0 0 0 1px #b3c0da;
  outline: none;
  min-height: 41px !important;
}

.textarea-container {
    position: relative; 
    width: 100%; 
}

#msgInput:focus {
    box-shadow: 0 0 0 1px #fc6736 inset;
}

.input__count {
    position: absolute; 
    bottom: 5px; 
    right: 5px; 
    font-size: 15px;
    color: #909399;
    background-color: white;
}

.el-input__count {
    background: white;
    bottom: 160px;
    color: #909399;
    font-size: 15px;
    line-height: 14px;
    position: absolute;
    right: 35px;
}

.blog-container {
    width: 100% !important;
    justify-content: center;
    display: flex;
}

.el-upload {
    display: flex;
}

.custom-file {
  display: inline-flex;
  padding: 8px 16px;
  background-color: white;
  color: #909399;
  border-radius: 6px;
  cursor: pointer;
  user-select: none;
  width: 100%;
  outline: none;
  border: none;
  box-shadow: 0 0 0 1px #b3c0da;
  height: 50px !important;    
  align-items: center;
}

.custom-file span {
    display: flex;
    align-items: center;
    gap: 2px;
}

.custom-file:active,
.el-button:hover {
  color: #fc6736;
  transition: 0.3s ease;
}

.el-button {
    cursor: pointer;
}

.post-overlay {
  background-color: #00000063;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  visibility: hidden;
  position: fixed;
  z-index: 101;
  width: 100%;
  height: 100%;
  justify-self: center;
  top: 0;
  right: 0;
}

.post-double-overlay {
  background-color: #00000063;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  visibility: hidden;
  position: fixed;
  z-index: 100001;
  width: 100%;
  height: 100%;
  justify-self: center;
  top: 0;
  right: 0;
}

.post-overlay.active,
.post-double-overlay.active {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transition: all 0.3s ease;
}

.blog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#posts-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 512px;
}

.post-item {
  width: 100%;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  border-color: #d7e1f3;
  padding: 16px;
  background-color: #fff;
  max-width: 512px;
  height: auto;
}

.posts-hdr {
  background-color: rgb(241 243 245);
  border-radius: .4rem;
  width: 100%;
  color: transparent !important;
  pointer-events: none !important;
  cursor: none !important;
  user-select: none !important;
  height: 30px;
  position: relative;
  overflow: hidden;
}

.posts-body {
  background-color: rgb(241 243 245);
  border-radius: .4rem;
  width: 100%;
  pointer-events: none !important;
  height: 240px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.posts-footer {
  background-color: rgb(241 243 245);
  border-radius: .4rem;
  width: 100%;
  color: transparent !important;
  pointer-events: none !important;
  cursor: none !important;
  user-select: none !important;
  height: 40px;
  margin-top: 10px;
  position: relative;
  overflow: hidden;
}

#imgPreviewContainer {
  position: relative;
}

.post-text {
  word-break: break-all;
  word-wrap: break-word;
}

.close-preview-btn {
    position: absolute; 
    top: 5px;          
    right: 5px;         
    z-index: 10;        
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 20px;
    line-height: 25px; 
    text-align: center;
    cursor: pointer;
    padding: 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}