.container {
    max-width: 1600px;
    margin: 0 auto;
}

.navbar {
    background-color: white;
    height: 80px;
    width: 100%;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0px 20px;
}

.login-body {
    height: -webkit-calc(100vh - 80px);
    height: -moz-calc(100vh - 80px);
    height: calc(100vh - 80px);
    background-image: url(./imgs/auth-bg.ad12831f.webp);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.login-body-wrapper {
    max-width: 450px;
    padding: 30px;
    background-color: #fff;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
}

.select-role {
    background-color: #f5f5f5;
    padding: 4px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin-bottom: 16px;
    gap: .5rem;
    display: flex;
    justify-content: space-between;
}

.Student-btn,
.Parents-btn {
    width: 50%;
    padding: 4px 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s ease;
}

.Student-btn {
    background-color: #fff;
    transition: 0.3s ease;
}

.Parents-btn:hover {
    background-color: #ffffff60;
}

.Parents-btn {
    color: gray;
}

.login-body-form input {
    align-items: center;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    box-shadow: 0 0 0 1px #c0c4cc inset;
    cursor: text;
    display: inline-flex;
    flex-grow: 1;
    justify-content: center;
    padding: 1px 11px;
    transform: translateZ(0);
    transition: box-shadow 0.2s cubic-bezier(0.645,0.045,0.355,1);
    padding: 1px 15px;
    outline: none;
    height: calc(40px - 2px);
    line-height: calc(40px - 2px);
    box-sizing: border-box;
    width: 100%;
    border: none;
}

.login-body-form input:focus {
    box-shadow: 0 0 0 1px #fc6736 inset;
}

.login-body-form {
    display: grid;
    gap: 20px;
}

.login-body-form button {
    width: 100%;
    background-color: #fc6736;
    padding: 8px 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    gap: 4px;
    cursor: pointer;
    transition: 0.3s ease;
}

.login-body-form button:hover {
    background-color: #fc6736c0;
    transition: 0.3s ease;
}

@media (min-width: 1536px) {
    .login-body-cont {
        max-width: 1536px;
    }
}
@media (min-width: 1280px) {
    .login-body-cont {
        max-width: 1280px;
    }
}
@media (min-width: 1024px) {
    .login-body-cont {
        max-width: 1024px;
    }
}
@media (min-width: 768px) {
    .login-body-cont {
        max-width: 768px;
    }
}
@media (min-width: 640px) {
    .login-body-cont {
        max-width: 640px;
    }
}
.login-body-cont {
    width: 100%;
}
.login-body-cont {
    margin: 0 auto;
    max-width: 1280px !important;
    padding: 0 10px;
}

.sign-up {
    color: #fc6736;
}