.shop-container {
    width: -webkit-calc(100% - 280px);
    width: -moz-calc(100% - 280px);
    width: calc(100% - 280px);
    padding: 16px 16px 16px 16px;
    margin: 0 auto;
    margin-left: 280px;
    max-width: 1200px;
}

.shop-tab-btn {
    padding: 5px 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 10px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #b3c0da;
    cursor: pointer;
}

.product-card__title {
    font-size: 20px;
    color: #393333;
    font-weight: 700;
}

.line-clamp-1 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.product-card__price {
    font-size: 18px;
}

.product_quantity {
    font-size: 17px;
    color: #b3c0da;
}

.hero-product .product_quantity {
    display: none !important;
}

.product-card__actions {
    margin-top: 12px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#button-one {
    color: #009bf5;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 4px;
}

#button-one:hover {
    text-decoration: underline;
}

.product-card {
    border: 1px solid #f4f4f4;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    overflow: hidden;
    background-color: #fff;
    padding: 16px 0;
    position: relative;
}

.product-card__image-wrapper {
    border-bottom: 1px solid #d7e1f3;
    padding: 16px;
}

.product-card__info {
    padding: 0 16px;
    margin-top: 12px;
}

.product-card__images,
#confirmProductImg {
    height: 124px;
    -o-object-fit: contain;
    object-fit: contain;
    width: 100%;
    display: block;
}

#confirmProductImg {
    height: 142px !important;
}

@media(max-width: 768px) {
    .shop-container {
        width: 100% !important;
        max-width: 100% !important;
        margin-left: 0px !important;
    }
}

@media(max-width:480px) {
    .shop-tab-btn {
        font-size: 14px;
    }
    .shop-tab-prnt {
        display: grid;
        justify-content: center;
    }
    .shop-history-title {
        position: absolute;
        text-align: center;
        right: 16px;
        transform: translateY(40px);
    }
    .products-prnt {
        margin-top: 50px;
    }
}

@media(max-width:366px) {
    .products-prnt {
        grid-template-columns: 1fr;
    }
}

.shop-hidden { display: none; }

.no-enough-coins,
.success-modal,
.confirm-buy-modal,
.no-quantity-modal {
  background-color: white;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 337px;
  gap: 16px;
  transition: all 0.4s ease;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  z-index: 103;
  overflow-y: auto;
  scrollbar-width: none;
  max-width: 95%;
  padding: 16px;
  position: fixed;
  -webkit-border-radius: .375rem;
  -moz-border-radius: .375rem;
  border-radius: .375rem;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.confirm-buy-modal {
    padding: 16px 50px;
}

@media(max-width:350px) {
    .confirm-buy-modal {
        padding: 16px !important;
    }
}

.no-enough-hdr,
.confirm-hdr,
.no-qt-hdr {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  color: #393333;
  position: absolute;
  top: 10px;
  right: 10px;
}

#confirmOk {
    background-color: #ef400f;
    margin-top: 16px;
    opacity: .3;
    cursor: not-allowed;
    color: white;
    padding: 5px;
    border-radius: 4px;
    font-size: 15px;
}

#confirmError {
    position: fixed;
  background-color: #fef0f0;
  border: 1px solid #e5e7eb;
  border-radius: .5rem;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  --webkit-box-sizing: border-box;
  gap: 10px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  visibility: hidden;
  width: auto;
  min-width: 200px;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -70%);
  z-index: 104000000;
  font-size: 16px;
  color: #fc6736;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  text-align: center;
}

.no-enough-hdr button,
.confirm-hdr button,
.no-qt-hdr button {
  background-color: #f6f9ff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.el-result__title,
.product-name {
    color: #303133;
    font-size: 22px;
}

.product-name {
    font-weight: 900;
}

.product-price-prnt {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 18px;
    width: fit-content;
    margin: 0 auto;
    margin-top: 5px;
}

.el-result__extra {
    margin-top: 30px;
}

.el-button--primary {
    background-color: #fc6736;
    color: white;
    padding: 5px;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
}

.no-enough-coins.active,
.success-modal.active,
.confirm-buy-modal.active,
#confirmError.active,
.no-quantity-modal.active {
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
    transform: translate(-50%,-50%); 
}

#confirmInput[type="password"]::-ms-reveal,
#confirmInput[type="password"]::-ms-clear,
#confirmInput[type="password"]::-webkit-credentials-auto-fill-button,
#confirmInput[type="password"]::-webkit-password-toggle,
#confirmInput[type="password"]::-webkit-textfield-decoration-container {
    display: none !important;
}

#confirmInput {
    padding-right: 40px;
}

.qty-spinner.hidden {
  display: none !important;
}

#button-one.visibility {
    opacity: 1;
    pointer-events: auto;
    user-select: auto;
}

.hero-product #button-one.visibility {
    opacity: 1;
    pointer-events: auto;
    user-select: auto;
}

#button-one {
    opacity: .3;
    pointer-events: none;
    user-select: none;
}

.hero-product #button-one {
    opacity: .3;
    pointer-events: none;
    user-select: none;
}
#button-one.visibilitywhileloading {
    display: none !important;
}

.whileNoPrem {
    display: none !important;
}